#tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $tabbar-height;

  background-color: #fff;
  border-top: 1px solid #ddd;
  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li {
    flex: 1 1 4em;

    &.on {
      color: $primary;
      font-weight: bold;

      .fa,
      .far,
      .fas {
        opacity: 1;
      }

      .text {
        font-weight: bold;
      }
    }
  }

  a {
    display: block;
    padding: 14px 0 10px;
  }

  .fa,
  .far,
  .fas {
    opacity: .5;
    font-size: 18px;
  }

  .text {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-weight: 500;
  }
}