#tabbar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  height: $tabbar-height;

  background-color: #fff;
  text-align: center;

  .banner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: $banner-height;
    background-color: rgba($red, .8);
    color: #fff;

    .container {
      position: relative;
      padding: 10px 0;
    }

    .btn-close {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);

      .fas {
        opacity: .7;
      }
    }
  }

  .tabber {
    border-top: 1px solid #ddd;

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    li {
      flex: 1 1 4em;

      &.on {
        color: $primary;
        font-weight: bold;

        .fa,
        .far,
        .fas {
          opacity: 1;
        }

        .text {
          font-weight: bold;
        }
      }
    }

    a {
      position: relative;
      display: block;
      padding: 14px 0 10px;
    }

    .fa,
    .far,
    .fas {
      opacity: .5;
      font-size: 18px;
    }

    .text {
      display: block;
      width: 100%;
      margin-top: 3px;
      font-weight: 500;
    }

    .badge {
      top: 11px;
      position: absolute;
      margin: 0 0 0 13px;
    }
  }
}

.badge {
  display: inline-block;
  vertical-align: middle;
  margin: -4px 2px 0 0;
  background-color: $red;
  width: 6px;
  height: 6px;
  color: $red;
  border-radius: 50%;
  overflow: hidden;
}