// header

#titlebar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary;
  padding: 0 $spacing;
  color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $titlebar-height;
    text-align: center;
  }

  .logo {
    height: 25px;
  }

  .title {
    padding-left: 25px;
    background: url(#{$url-img}/favicon.png) no-repeat left 3px;
    background-size: 20px auto;
    font-size: 17px;
    font-weight: 500;
  }

  .btn-url-cpoy {
    margin-left: 4px;
    font-size: 11px;
    font-weight: normal;

    .url {
      opacity: .8;
    }

    .btn {
      display: inline-block;
      height: 16px;
      line-height: 16px;
      border-radius: 2px;
      padding: 0 4px;
      margin-left: 3px;

      font-size: 11px;
      font-weight: bold;
      color: $primary;
      background-color: #fff;
    }
  }

  .btn {
    min-width: 40px;
    height: $titlebar-height;
  }
}