// header

#titlebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $titlebar-height;
  background-color: $primary;
  padding: 0 $spacing;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  color: #fff;

  .logo {
    height: 30px;
  }

  .title {
    font-size: 19px;
    font-weight: 500;
  }

  .btn {
    min-width: 40px;
    height: $titlebar-height;
  }
}