// header

#titlebar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary;
  padding: 0 $spacing;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $titlebar-height;
    text-align: center;
  }

  color: #fff;

  .logo {
    height: 25px;
  }

  .title {
    padding-left: 25px;
    background: url(#{$url-img}/favicon.png) no-repeat left 3px;
    background-size: 20px auto;
    font-size: 17px;
    font-weight: 500;

    small {
      margin-left: 4px;
      font-size: 13px;
      opacity: .8;
      font-weight: normal;
    }
  }

  .btn {
    min-width: 40px;
    height: $titlebar-height;
  }
}