// 메인

// 전쟁통계
.chart-area {
  border-top: 1px solid #eee;
  margin: 0 -1 * $spacing;
  padding: 15px 0 0;

  @include media-breakpoint-up(md) {
    border: 1px solid #eee;
    margin: 10px 0 0;
    padding: 15px 0;
  }
}

.date-src {
  text-align: right;
  margin: 10px 0;
  font-size: 12px;
}

.log-list {
  margin: 0 -1 * $spacing;
  border-top: 1px solid #eee;

  dt {
    border-bottom: 1px solid #eee;

    a {
      display: flex;
      justify-content: space-between;
      padding: 12px $spacing;

      .lose {
        font-weight: 500;
        color: $blue;
      }

      .win {
        font-weight: 500;
        color: $red;
      }
    }

    &.on {
      font-weight: bold;

      +dd {
        display: block;
      }
    }
  }

  >dd {
    display: none;
    background-color: rgba($primary, 0.05);
    line-height: 1.5;
    font-size: 13px;
    padding: 15px $spacing;
    border-bottom: 1px solid #eee;
  }

  @include media-breakpoint-up(md) {
    margin: 10px 0;
  }
}

.box {
  background-color: $primary;
  border-radius: 5px;
  color: #fff;
  padding: 12px 15px;
}

// 소개
.history-list {
  dt {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    position: relative;
    padding-left: .12rem;

    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: 0;

      top: 6px;
      width: .04rem;
      height: .04rem;
      border-radius: 50%;
      background-color: #a4abb7;
    }
  }
}

.member-list {
  display: inline-block;
  padding: 2px;

  img {
    float: left;
    width: 245px;
    border: 4px solid #152d42;
    margin: -2px;
  }
}

// 소셜댓글
#disqus_thread {
  margin-top: 30px;
}