// 두께
// .text-light {
// 	font-weight: 300 !important;
// }

.text-normal {
	font-weight: normal !important;
}

// .text-medium {
// 	font-weight: bold !important;
// }

.text-bold {
	font-weight: bold !important;
}

// 타이틀
.title1 {
	margin-bottom: 15px;
	color: $primary;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.title2 {
	margin: 20px 0 10px;
	color: #000;
	font-size: 18px;
	font-weight: 500;

	&:first-child {
		margin-top: -5px;
	}
}

// 크기
.text-xs {
	font-size: $font-size-xs;
}

.text-sm {
	font-size: $font-size-sm;
}

.text-md {
	font-size: $font-size-base;
}

.text-lg {
	font-size: $font-size-lg;
}

.text-xl {
	font-size: $font-size-xl;
}